@using Help_Desk_2.DataAccessLayer

@{
    HelpDeskContext db = new HelpDeskContext();
}
<div class="container-view">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#tickets">Tickets</a></li>
        <li><a data-toggle="tab" href="#faqs">FAQs</a></li>
        <li><a data-toggle="tab" href="#kbs">KnowledgeBase</a></li>
        <li><a data-toggle="tab" href="#news">News</a></li>
    </ul>

    <div class="tab-content">
        <div id="tickets" class="tab-pane fade in active">
            
            @{
               
                var tDels = db.Tickets.Where(x => x.deleted).OrderByDescending(x => x.dateComposed);
                if (tDels.Count() > 0)
                {
                    <table class="table table-bordered table-hover table-condensed table-view">
                        <thead>
                            <tr>
                                <th>Created on</th>
                                <th>Originitor</th>
                                <th>Brief description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in tDels)
                            {
                                <tr onclick="$(location).attr('href', '@Url.Action("Details", "Ticket", new { @id = item.ID })')">

                                    <td>@Html.DisplayFor(hitem => item.dateComposed)</td>
                                    <td>item.Originator.displayName</td>
                                    <td>@Html.DisplayFor(hitem => item.headerText)</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No deleted tickets within the last 30 days!</p>
                }
            }
        </div>
        <div id="faqs" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="kbs" class="tab-pane fade in out">
            <h3>kbsnu 2</h3>
            <p>Some content in menu 2.</p>
        </div>

        <div id="news" class="tab-pane fade out">
            @{
               

                var nDels = db.News.Where(x => x.deleted).OrderByDescending(x => x.creationDate);
                if (nDels.Count() > 0)
                {
                    <table class="table table-bordered table-hover table-condensed table-view">
                        <thead>
                            <tr>
                                <th>Created on</th>
                                <th>Created by</th>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in nDels)
                            {
                                <tr onclick="$(location).attr('href', '@Url.Action("Details", "News", new { @id = item.ID })')">

                                    <td>@Html.DisplayFor(hitem => item.creationDate)</td>
                                    <td>@item.Originator.displayName</td>
                                    <td>@Html.DisplayFor(hitem => item.title)</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No deleted news articles within the last 30 days!</p>
                }
            }
        </div>
    </div>
    
</div>