@using Help_Desk_2.Models
@model IEnumerable<TicketsKPI>

@{
    ViewBag.Title = "Ticket KPIs Month to Date By User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Month = new SelectList(new List<SelectListItem>
    {
        new SelectListItem {Value = "0", Text = "Current Month" },
        new SelectListItem {Value = "1", Text = "January" },
        new SelectListItem {Value = "2", Text = "February" },
        new SelectListItem {Value = "3", Text = "March" },
        new SelectListItem {Value = "4", Text = "April" },
        new SelectListItem {Value = "5", Text = "May" },
        new SelectListItem {Value = "6", Text = "June" },
        new SelectListItem {Value = "7", Text = "July" },
         new SelectListItem {Value = "8", Text = "August" },
          new SelectListItem {Value = "9", Text = "September" },
           new SelectListItem {Value = "10", Text = "October" },
            new SelectListItem {Value = "11", Text = "November" },
             new SelectListItem {Value = "12", Text = "December" }
    }, "Value", "Text");

    ViewBag.Status = new SelectList(new List<SelectListItem>
    {
        new SelectListItem {Value = "3", Text =  TicketsKpiStatus.All.ToString() },
        new SelectListItem {Value = "2", Text = TicketsKpiStatus.Closed.ToString() },
        new SelectListItem {Value = "1", Text = TicketsKpiStatus.Open.ToString() },
    }, "Value", "Text");


}


<header>
    <h2 class="title">@ViewBag.Title</h2>
</header>

 
<form class="form-inline" action="UserMonthToDateKPI">
   
    <div class="form-group">
        <label for="Keywords" style="padding:5px;padding-right:5px">Responsible : </label>
        @Html.DropDownList("user", ViewBag.User as SelectList, "All", new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
    <div class="form-group">
        <label for="searchType">Year : </label>
        @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Years, new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
    <div class="form-group">
        <label for="searchType">Month : </label>
        @Html.DropDownList("month", (IEnumerable<SelectListItem>)ViewBag.Month, new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
    <div class="form-group">
        <label for="searchType">Status : </label>
        @Html.DropDownList("status", (IEnumerable<SelectListItem>)ViewBag.Status, new { @class = "form-control", onchange = "this.form.submit();" })
    </div>
           
   

</form>

<h3>Summary</h3>

<table style="margin:15px" class="table table-bordered table-hover table-condensed table-view">
    <thead>
        <tr>
            <th>Number of Tickets</th>
            <th>Average Submitted to Last Assigned</th>
            <th>Average Last Assigned to Completed</th>
            <th>Average Submitted to Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.MTDTotal</td>
            <td>@ViewBag.MTDAVGstoa</td>
            <td>@ViewBag.MTDAVGatoc</td>
            <td>@ViewBag.MTDAVGstoc</td>
        </tr>

    </tbody>

</table>

<h3>Detail</h3>

@{Html.RenderPartial("KpiTablePartial", Model);}


@section Scripts {
    @{Html.RenderPartial("ReportTablesScriptPartial", ReportTypeEnum.MonthToDateByUser);}
}

