@using Help_Desk_2.Models
@model IEnumerable<TicketsKPI>

@{
    ViewBag.Title = "Ticket KPIs Year to Date";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header>
    <h2 class="title">@ViewBag.Title</h2>
</header>

<h3>Summary</h3>

<table style="margin:15px" class="table table-bordered table-hover table-condensed table-view">
    <thead>
        <tr>
        <th>Number of Tickets</th>
        <th>Average Submitted to Last Assigned</th>
        <th>Average Last Assigned to Completed</th>
        <th>Average Submitted to Completed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.YTDTotal</td>
            <td>@ViewBag.YTDAVGstoa</td>
            <td>@ViewBag.YTDAVGatoc</td>
            <td>@ViewBag.YTDAVGstoc</td>
        </tr>

    </tbody>

</table>

<h3>Detail</h3>

@{Html.RenderPartial("KpiTablePartial", Model);}



@section Scripts {
    @{Html.RenderPartial("ReportTablesScriptPartial");}
}

