@using Help_Desk_2.Utilities;
@using Help_Desk_2.Helpers;
@{
 //   Response.Write("The view page last view: " + Session["lastView"] + "/" + Session["UserID"] + "/" + Session["UserDisplayName"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Engineering Helpdesk</title>
    @Styles.Render("~/Content/css")
    @if (ViewBag.addAttachCode == "1")
    {
        @Styles.Render("~/Content/fileinput.min.css")
    }
    @RenderSection("cssCustomTop", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @if (ViewBag.addTinyMCECode == "1")
    {
        <!-- For Upload Files -->
        <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script type="text/javascript">
            tinyMCE.init({
                // General options
                mode: "textarea",
                toolbar:["bold italic underline strikethrough "],
                menubar: false,
                statusbar: false,
                selector: ".richeditor",
                plugins: "autoresize",
                autoresize_max_height: 500,
                autoresize_bottom_margin: 10,

                // Example content CSS (should be your site CSS)
                content_css: "@Href("~/Content/tinymce/editor.css")", //"css/example.css",
            });
        </script>
    }
    @RenderSection("scriptsCustomTop", required: false)

    <!--[if lt IE 9]>
      <script src="Scripts/html5shiv.js"></script>
      <script src="Scripts/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top navbar-custom">
        <div class="container top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2 style="margin:15px 0; padding:0; color: #e4eeff">UAT Engineering Helpdesk</h2>
            </div>
            <a class="navbar-brand navbar-right hidden-xs" href="#">

                <img src="~/Content/images/rlogo.png" alt="Renold Logo" title="Renold" />
            </a>
        </div>
    </div>

    <!-- Menu bar -->

    <div class="navbar-collapse collapse navbar-menu no-print">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("FAQs", "Index","FAQs")</li>
                <li>@Html.SecureActionLinkNEW("Knowledge Base", "Admin", "KnowledgeBase", UserRoles.DomainAdminAndSuperUserRoles)</li>
                <li>@Html.ActionLink("Latest News","Index", "News")</li>
                <li><a href="@AllSorts.getHelpFile()" target="_blank">Help</a></li>
                @if (User.CustomIsInRole(UserRoles.DomainAdminRole) || User.CustomIsInRole(UserRoles.DomainSuperUserRole))
                {
                    <li>@Html.ActionLink("Tickets KPI's", "Index", "Reports")</li>
                }
            </ul>
            
   
                @if (AllSorts.userHasRole("SuperUsers"))
				{
					<p class="nav navbar-text navbar-right">@Html.ActionLink(AllSorts.getUserDisplayName() + " [SUPERUSER]", "Index", "UserProfile") </p>
				}

				else if (AllSorts.userHasRole("AdminUsers"))
				{
					<p class="nav navbar-text navbar-right">@Html.ActionLink(AllSorts.getUserDisplayName() + " [ADMIN]", "Index", "UserProfile") </p>
				}
				else
				{
					<p class="nav navbar-text navbar-right">@Html.ActionLink(AllSorts.getUserDisplayName() + " [STANDARD]", "Index", "UserProfile") </p>
				}

		</div>
    </div>

   <!--<div class="container hidden-lg"><p>Globals.errorMsg</p></div>-->

    <div class="container">
        <div class="row ">
            <div class="row-height">
                <!--[if IE ]>
       <div class="col-md-3 col-sm-4 left-column1">
    <![endif]-->
                <!--[if !IE]>-->
                <div class="col-md-3 col-sm-4 col-sm-height left-column1 no-print">
                    <!--<![endif]-->
                    <div class="inside-full-height content no-print">
                        <div class="panel panel-default panel-custom">
                            <div class="panel-heading">Tickets</div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>@Html.ActionLink("Raise New Ticket", "New", "Ticket")</li>
                                    <li>@Html.ActionLink("View My Open Tickets", "Index", "Ticket", null, htmlAttributes: new { @title = "Draft & Open" })</li>
                                    <li>@Html.ActionLink("View All My Tickets", "List", "Ticket", null, htmlAttributes: new { @title = "Draft & Open & Closed" })</li>
                                    <li>@Html.SecureActionLink("My Assigned Tickets", "Assigned", "Ticket", "ManageTickets")</li>
                                    <li>@Html.SecureActionLink("Manage Tickets", "Admin", "Ticket", "ManageTickets")</li>
                                    @*              <li>@Html.SecureActionLink("Ticket Reports", "Reports", "Ticket", "ManageTickets")</li> *@
                                </ul>
                            </div>
                        </div>

                       


                        <div class="panel panel-default panel-custom">
                            <div class="panel-heading">FAQs</div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    @if (AllSorts.UserCan("CreateFAQs"))
                                    {
                                        <li>@Html.ActionLink("New FAQ Article", "New", "FAQs")</li>
                                            <li>@Html.ActionLink("View My FAQ Drafts", "Drafts", "FAQs")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("Suggest An FAQ", "Suggest", "FAQs")</li>
                                            <li>@Html.ActionLink("View My FAQ Suggestons", "MySuggestions", "FAQs")</li>
                                    }

                                    <li>@Html.SecureActionLink("Manage FAQs", "Admin", "FAQs", "ManageFAQs")</li>
                                    <li>@Html.SecureActionLink("Manage FAQ Suggestions", "Suggestions", "FAQs", "ManageFAQs")</li>
                                </ul>
                            </div>
                        </div>

                        @if (AllSorts.UserCan("CreateKBs"))
                        {
                            <div class="panel panel-default panel-custom">
                                <div class="panel-heading">Knowledge base</div>
                                <div class="panel-body">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li>@Html.ActionLink("New KB Article", "New", "KnowledgeBase")</li>
                                        <li>@Html.ActionLink("View My KB Drafts", "Drafts", "KnowledgeBase")</li>
                                        <li>@Html.SecureActionLink("Manage KB Articles", "Admin", "KnowledgeBase", "ManageKBs")</li>
                                    </ul>
                                </div>
                            </div>
                        }
                       

                        @if (AllSorts.UserCan("ManageAll"))
                        {
                            <div class="panel panel-default panel-custom">
                                <div class="panel-heading">News Admin</div>
                                <div class="panel-body">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li>@Html.ActionLink("New News Article", "New", "News")</li>
                                        <li>@Html.ActionLink("Manage News Articles", "Admin", "News")</li>
                                    </ul>
                                </div>
                            </div>
                        }

                         <div class="panel panel-default panel-custom">
                            <div class="panel-heading">Profile</div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>@Html.ActionLink("My Profile", "Index", "UserProfile")</li>
                                    <li>@Html.SecureActionLink("Manage Profiles", "List", "UserProfile", "ManageAll")</li>
                                </ul>
                            </div>
                        </div> 
                        @if (AllSorts.UserCan("ManageAll"))
                        {
                                <div class="panel panel-default panel-custom">
                                    <div class="panel-heading">Global Settings</div>
                                    <div class="panel-body">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li>@Html.ActionLink("Global Settings", "", "GlobalSettings")</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--
                    <div class="panel panel-default panel-custom">
                        <div class="panel-heading">Trash Can</div>
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li>@Html.ActionLink("Recycle Bin", "", "TrashCan")</li>
                            </ul>
                        </div>
                    </div>
                    -->
                        }

                        <div class="panel panel-custom quick-search">
                            @using (Html.BeginForm("Search", "Search", FormMethod.Get))
                            {
                                @*Html.AntiForgeryToken()*@
                                @*Html.Editor("searchStr", new { htmlAttributes = new { placeholder = "Search FAQs" } })*@
                                <input class="text-box single-line" id="searchStr" name="searchStr" placeholder="Search FAQs" type="text">
                                <input type="submit" value="Search" class="btn btn-default" />
                            }
                        </div>
                    </div>
                </div>

                    <div class="col-md-8 col-sm-8 col-sm-height">
                        <div class="inside-full-height content-column">
                            @if (!string.IsNullOrEmpty(AllSorts.displayMessage) && string.IsNullOrEmpty(ViewBag.isErrorPage))
                            {
                                var msg = AllSorts.displayMessage;
                                AllSorts.displayMessage = ""; //Blank message to avoid being displayed again
                                var st = "success";
                                if (msg.StartsWith("0#"))
                                {
                                    st = "danger";
                                    msg = msg.Substring(2);
                                }
                                <div class="container alert-@st alert-custom">@msg</div>
                            }
                            @RenderBody()
                        </div>
                    </div>
                </div>

            </div>
    </div>
    
    <footer>
        <p>&copy; @DateTime.Now.Year - Renold Engineering Help Desk</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatable")
    @RenderSection("scripts", required: false)
    @if (ViewBag.addAttachCode == "1")
    {
       @Scripts.Render(new string[] { "~/Scripts/fileinput.min.js","~/Scripts/script-custom.js"});
    }
    @RenderSection("scriptsCustom", required: false)
</body>
</html>
