@using Help_Desk_2.Utilities;
@using Help_Desk_2.Models;
@{
    UserProfile userProfile;
    if (ViewBag.displayName == null)
    {
        UserData ud = new UserData();
        userProfile = ud.getUserProfile();

        ViewBag.displayName = userProfile.displayName;
    }
    string displayName = ViewBag.displayName;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Engineering Helpdesk</title>
    @Styles.Render("~/Content/css")
    @if (ViewBag.addAttachCode == "1")
    {
        @Styles.Render("~/Content/fileinput.min.css")
    }
    @RenderSection("cssCustomTop", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @if (ViewBag.addTinyMCECode == "1")
    {
        <!-- For Upload Files -->
        <script type="text/javascript" src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script type="text/javascript">
            tinyMCE.init({
                // General options
                mode: "textarea",
                toolbar:["bold italic underline strikethrough "],
                menubar: false,
                statusbar: false,
                selector: ".richeditor",

                // Example content CSS (should be your site CSS)
                content_css: "@Href("~/Content/site.css")", //"css/example.css",
            });
        </script>
    }
    @RenderSection("scriptsCustomTop", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top navbar-custom">
        <div class="container top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h2 style="margin:15px 0; padding:0; color: #e4eeff">Engineering Helpdesk</h2>
            </div>
            <a class="navbar-brand navbar-right hidden-xs" href="#">

                <img src="~/Content/images/rlogo.png" alt="Renold Logo" title="Renold" />
            </a>
        </div>
    </div>

    <!-- Menu bar -->

    <div class="navbar-collapse collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("FAQs", "Index","FAQs")</li>
                @if (User.IsInRole("Administrators"))
                {
                    <li>@Html.ActionLink("Knowledge base", "Index", "KnowledgeBase")</li>
                }
                <li>@Html.ActionLink("Latest news","Index", "News")</li>
            </ul>
            <p class="nav navbar-text navbar-right">@Html.ActionLink(displayName, "Index", "UserProfile")</p>
        </div>
    </div>

   <!--<div class="container hidden-lg"><p>Globals.errorMsg</p></div>-->

    <div class="container">
        <div class="row ">
            <div class="row-height">
                <div class="col-md-3 col-sm-4 col-sm-height left-column1">
                    <div class="inside-full-height content">
                        <ul class="nav nav-pills nav-stacked">
                            <li>@Html.ActionLink("Raise new ticket", "New", "Ticket")</li>
                            <li>@Html.ActionLink("View my open tickets", "Index", "Ticket", null,htmlAttributes: new { @title = "Draft & Open"  })</li>
                            <li>@Html.ActionLink("View all my tickets", "List", "Ticket", null, htmlAttributes: new { @title = "Draft & Open & Closed" })</li>

                            <li>@Html.ActionLink("Suggest an FAQ", "Suggest","FAQs")</li>
                            <li><a href="#">My subscriptions</a></li>
                            <li>@Html.ActionLink("My Profile", "Index", "UserProfile")</li>
                            <li><hr /></li>
                            <li><a href="#">Work on my tickets</a></li>

                            <li><hr /></li>
                            <li>@Html.ActionLink("New FAQ Article", "New", "FAQs")</li>
                            <li>@Html.ActionLink("New FAQ Suggestion", "Suggest", "FAQs")</li>
                            <li>@Html.ActionLink("Manage FAQs", "Admin", "FAQs")</li>
                            <li>@Html.ActionLink("Manage FAQ Suggestions", "Suggestions", "FAQs")</li>

                            <li><hr /></li>
                            <li>@Html.ActionLink("Manage News Articles", "Admin", "News")</li>

                            <li><hr /></li>
                            <li>@Html.ActionLink("New KB Article", "New", "KnowledgeBase")</li>
                            <li>@Html.ActionLink("Manage KB Articles", "Admin", "KnowledgeBase")</li>

                            <li><hr /></li>
                            <li>@Html.ActionLink("Global Settings", "", "GlobalSettings")</li>
                        </ul>
                        <div class="quick-search">
                            @using (Html.BeginForm("Search", "FAQs", FormMethod.Get))
                            {
                            @*Html.AntiForgeryToken()*@
                            @*Html.Editor("searchStr", new { htmlAttributes = new { placeholder = "Search FAQs" } })*@
                            <input class="text-box single-line" id="searchStr" name="searchStr" placeholder="Search FAQs" type="text" >
                            <input type="submit" value="Search" class="btn btn-default" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-sm-height">
                    <div class="inside-full-height content-column">                        
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <footer>
        <p>&copy; @DateTime.Now.Year - Renold Engineering Help Desk</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @if (ViewBag.addAttachCode == "1")
    {
       @Scripts.Render(new string[] { "~/Scripts/fileinput.min.js","~/Scripts/script-custom.js"});
    }
    @RenderSection("scriptsCustom", required: false)
</body>
</html>
