@model IEnumerable<Help_Desk_2.Models.KnowledgeFAQ>

@{
    ViewBag.Title = "Knowledge Base";
    Session["lastView"] = Request.Url.PathAndQuery;    //Record this as last view
}

<header>
    <h2 class="title">@ViewBag.Title<span class="summary-top pull-right">@Html.ActionLink("New Article", "New", null, htmlAttributes: new { @class = "btn btn-primary" })</span></h2>
</header>
<div class="container-view">

    <form class="form-inline" action="~/KnowledgeBase/Search">

        <div class="form-group">
            <input type="text" class="form-control" id="searchStr" name="searchStr" placeholder="Enter search text" value="@ViewBag.displayMessage">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>
</div>
<div class="container-view">
    <table class="table table-bordered table-hover table-condensed table-view">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.headerText)</th>
                <th>@Html.DisplayNameFor(model => model.UserProfile.displayName)</th>
                <th>@Html.DisplayNameFor(model => model.dateComposed)</th>
                <th>@Html.DisplayNameFor(model => model.expiryDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="$(location).attr('href', '@Url.Action("Details", "KnowledgeBase", new { @id = item.ID })')">

                    <td>@Html.DisplayFor(modelItem => item.headerText)</td>
                    <td>@Html.DisplayFor(model => item.UserProfile.displayName)</td>
                    <td>@Html.DisplayFor(modelItem => item.dateComposed)</td>
                    <td>@Html.DisplayFor(modelItem => item.expiryDate)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
