@{
    ViewBag.Title = "Search Results";
}

<h2 class="title">@ViewBag.Title</h2>
<hr/>
<div class="content search">
   

    <div class="col-sm-12" style="border: 1px solid #ddd">
        <h3>News and messages</h3>
        <ul class="list-unstyled">

            @foreach (var item in ViewBag.NewsResults)
            {
                <li class="panel panel-default">
                    <a class="article-title" onclick="$(location).attr('href', '@Url.Action("Article", "News", new { @id = item.ID })')">
                        @item.title
                    </a>
                    <p class="text-muted">@item.publishedDate / Author: @item.Originator.displayName</p>
                </li>
            }
        </ul>
    </div>

    <div class="col-sm-12" style="border: 1px solid #ddd; margin: 15px 0">
        <h3>FAQs</h3>
        <ul class="list-unstyled">
            @foreach (var item in ViewBag.FAQResults)
            {
                <li class="panel panel-default">
                    <a class="article-title" onclick="$(location).attr('href', '@Url.Action("Details", "FAQs", new { @id = item.ID })')">
                        @item.headerText
                    </a>

                    <p class="text-muted">@item.dateComposed / Author: @item.Originator.displayName</p>
                </li>
            }
        </ul>
    </div>


</div>