@model Help_Desk_2.Models.GlobalSettings

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GlobalSettings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketSeeder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketSeeder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAQApprover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAQApprover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KBApprover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KBApprover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketHeader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketHeader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyowrds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyowrds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketExpiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketExpiry)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
