@model Help_Desk_2.ViewModels.GlobalSettingsEditModel

@{
    ViewBag.Title = "Global Settings";
}

<h2 class="title">@ViewBag.Title</h2>
<hr />
<p>@ViewBag.Msg</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model.ID != null)
        {
            @Html.HiddenFor(model => model.ID)
        }
        <div class="form-group odd">
            @Html.LabelFor(model => model.AdminEmail, htmlAttributes: new { @class = "control-label col-md-6" })
            @Html.LabelFor(model => model.TicketSeeder, htmlAttributes: new { @class = "control-label col-md-6" })
           
        </div>

        <div class="form-group even">
            <div class="col-md-6">
                @Html.EditorFor(model => model.AdminEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdminEmail, "", new { @class = "text-danger" })
            </div>
           
            <div class="col-md-6">
                @Html.EditorFor(model => model.TicketSeeder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketSeeder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group odd">
            @Html.LabelFor(model => model.FAQApprover, htmlAttributes: new { @class = "control-label col-md-6" })
            @Html.LabelFor(model => model.KBApprover, htmlAttributes: new { @class = "control-label col-md-6" })

        </div>

        <div class="form-group even">
            <div class="col-md-6">
                @Html.EditorFor(model => model.FAQApprover, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAQApprover, "", new { @class = "text-danger" })
            </div>
           <div class="col-md-6">
               
                @Html.EditorFor(model => model.KBApprover, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KBApprover, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group odd">
            @Html.LabelFor(model => model.TicketHeader, htmlAttributes: new { @class = "control-label col-md-6" })
            <div class="col-md-6">
            <div class="col-md-6">@Html.LabelFor(model => model.TicketExpiryDays, htmlAttributes: new { @class = "control-label" })</div>
            <div class="col-md-6">@Html.LabelFor(model => model.KBFAQsExpiryDays, htmlAttributes: new { @class = "control-label" })</div> 
            </div>           
        </div>

        <div class="form-group even">
            <div class="col-md-6">
                @Html.EditorFor(model => model.TicketHeader, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketHeader, "", new { @class = "text-danger" })
            </div>
           <div class="col-md-6">
               <div class="col-md-6">
                   @Html.EditorFor(model => model.TicketExpiryDays, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.TicketExpiryDays, "", new { @class = "text-danger" })
               </div>
               <div class="col-md-6">
                   @Html.EditorFor(model => model.KBFAQsExpiryDays, new { htmlAttributes = new { @class = "form-control" } })
                   @Html.ValidationMessageFor(model => model.KBFAQsExpiryDays, "", new { @class = "text-danger" })
               </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group odd">
            <h3 class="control-label col-md-6">Keywords&nbsp; @Html.ActionLink("Manage", "Keywords", null, new { @class = "btn btn-default" })</h3>
            <h3 class="control-label col-md-6">Expert Areas &nbsp; @Html.ActionLink("Manage", "ExpertAreas", null, new { @class = "btn btn-default" })</h3>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <table>
                    @foreach (string kword in Model.Keywords)
                    {
                        <tr>
                            <td>@kword</td>
                        </tr>
                    }
                </table>
                
            </div>
            <div class="col-md-6">
                <table>
                    @foreach (string kword in Model.ExpertAreas)
                    {
                        <tr>
                            <td>@kword</td>
                        </tr>
                    }
                </table>
            </div>
        </div>       
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
