@model IEnumerable<Help_Desk_2.Models.GlobalSettings>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdminEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketSeeder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FAQApprover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KBApprover)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketHeader)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keyowrds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpertArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketExpiry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdminEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketSeeder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FAQApprover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KBApprover)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketHeader)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keyowrds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpertArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TicketExpiry)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
