@using Help_Desk_2.Utilities
@model Help_Desk_2.Models.GlobalSettings

@{
    ViewBag.Title = "Global Settings";
    ViewBag.addAttachCode = "1"; //Edit mode -activates some code in layout
    AllSorts.setNavProperties(ViewBag);
}

@section cssCustomTop {
    @Styles.Render("~/Content/Select2/css/select2.min.css")
    @Styles.Render("~/Content/Select2/css/select2-bootstrap.min.css")
}

@section scriptsCustom {
    <script src="~/Content/Select2/js/select2.min.js"></script>
}

<h2 class="title">@ViewBag.Title</h2>
<hr />
<p>@ViewBag.Msg</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (Model.ID != null)
        {
            @Html.HiddenFor(model => model.ID)
        }
        <div class="form-group">
            <div class="col-sm-9">
                @Html.Label("Ticket Administrators", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("adminemails", null, htmlAttributes: new { @class = "select2-editor", multiple = "multiple" })
            </div>

            <div class="col-sm-3">
                @Html.LabelFor(model => model.TicketSeeder, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TicketSeeder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketSeeder, "", new { @class = "text-danger" })
            </div>

            
         </div>

        <div class="form-group">
            <div class="col-sm-12">
                 @Html.LabelFor(model => model.TicketHeader, htmlAttributes: new { @class = "control-label" })
            
            <!--<div class="col-sm-8">-->
            
                    @Html.EditorFor(model => model.TicketHeaderEnabled)
                    @Html.LabelFor(model => model.TicketHeaderEnabled, htmlAttributes: new { @class = "control-label" })
            
                
            </div>

            <div class="col-sm-12">
                @Html.EditorFor(model => model.TicketHeader, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketHeader, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-6">    
                @Html.Label("FAQ Approver(s)", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("faqapprovers", null, htmlAttributes: new { @class = "select2-editor", multiple = "multiple" })
            </div>
           <div class="col-sm-6">
               @Html.Label("Knowledgebase Approver(s)", htmlAttributes: new { @class = "control-label" })
               @Html.DropDownList("kbapprovers", null, htmlAttributes: new { @class = "select2-editor", multiple = "multiple" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                @Html.Label("Help File", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.HelpFile, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
        </div>

            <div class="form-group">
                <div class="col-sm-6">
                    @*Html.LabelFor(model => model.TicketExpiryDays, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TicketExpiryDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TicketExpiryDays, "", new { @class = "text-danger" })*@
                    @Html.LabelFor(model => model.FAQsExpiryDays, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FAQsExpiryDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FAQsExpiryDays, "", new { @class = "text-danger" })

                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.KBExpiryDays, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.KBExpiryDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KBExpiryDays, "", new { @class = "text-danger" })
                </div>

            </div>



            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
            <hr />
            <div class="form-group odd">
                <h3 class="control-label col-md-6">Keywords&nbsp; @Html.ActionLink("Manage", "Keywords", null, new { @class = "btn btn-default" })</h3>
                <h3 class="control-label col-md-6">Expert Areas &nbsp; @Html.ActionLink("Manage", "ExpertAreas", null, new { @class = "btn btn-default" })</h3>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <table>
                        @foreach (string kword in Model.Keywords)
                    {
                    <tr>
                        <td>@kword</td>
                    </tr>
                    }
                    </table>

                </div>
                <div class="col-md-6">
                    <table>
                        @foreach (string kword in Model.ExpertAreas)
                    {
                    <tr>
                        <td>@kword</td>
                    </tr>
                    }
                    </table>
                </div>
            </div>


        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
