@model IPagedList<Help_Desk_2.Models.WordList>

@{
    string actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();
    ViewBag.Title = (actionName == "keywordsdeleted" ? "Deleted " :"") + "Keywords";
    Help_Desk_2.Utilities.AllSorts.setNavProperties(ViewBag, true);
}

<h2>@ViewBag.Title&nbsp; 
    @if (actionName == "keywords")
    {
        @Html.ActionLink("View deleted Keywords", "KeywordsDeleted", null, new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("View live Keywords", "Keywords", null, new { @class = "btn btn-default" })
    }
</h2>

<div class="container-view keywords">
    @if (Model.ItemEnd == 0 && actionName == "keywordsdeleted")
    {
        <p>No deleted keywords</p>
    }
    else {
    <table class="table">
        <tr>
            <th>
                Keyword Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.text
                </td>
                <td>@if (actionName != "keywordsdeleted")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                } else {
                    @Html.ActionLink("UnDelete", "UnDelete", new { id = item.ID })
                }
                </td>
            </tr>
        }
        @if (actionName != "keywordsdeleted") {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <tr>
                <td>
                    <div class="form-group">
                        @Html.Hidden("type", "1")
                        <input class="form-control text-box single-line" data-val="true" data-val-length="The field text must be a string with a maximum length of 30." data-val-length-max="30" data-val-required="The text field is required." id="text" name="text" type="text" value="" placeholder="New keyword">
                        <span class="field-validation-valid text-danger" data-valmsg-for="text" data-valmsg-replace="true"></span>
                    </div>
                </td>
                <td>
                    <input type="submit" value="Add Keyword" class="btn btn-default" />
                </td>
            </tr>
        }}
    </table>
    }
</div>
@if (Model.ItemEnd > 0)
{
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o.AddRouteValue("searchType", @Request.QueryString["searchType"])
         .AddRouteValue("searchStr", @Request.QueryString["searchStr"])
         .DisplayFirstAndLastPage()
         .SetFirstPageText("First")
         .SetLastPageText("Last")
         .SetPreviousPageText("Prev")
         .SetNextPageText("Next"))

        <div class="text-muted">Displaying @Model.ItemStart - @Model.ItemEnd of @Model.TotalItemCount</div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
