@using System.Web.Mvc;
@model Help_Desk_2.Models.EmailMessageModels.FaqKbEmail
From: @Model.From
To: @Model.To
@if (!string.IsNullOrEmpty(Model.Cc))
{
    @:CC: @Model.Cc
}
Subject: @Model.Subject
Content-Type: text/html; charset=utf-8

<html>
<body>
    @if (Model.Type == "Submitted")
    {
        <p>Hi FAQ Approvers,</p>
            <p>A new @Model.ArticleType article <strong>@Model.Title</strong> has been submitted for your consideration.</p>
            <p>
                You can access this article at
                <a href="@Model.ArticleUrl">Link</a>
            </p>
    }
    else if (Model.Type == "Approved")
    {
        <p>Hi @Model.User,</p>
            <p>Your @Model.ArticleType article <strong>@Model.Title</strong> has been approved!</p>
            <p>
                You can access this article at
                <a href="@Model.ArticleUrl">Link</a>
            </p>
    }
    <p><b>System Message</b></p>

</body>
</html>
