From: Eng Helpdesk System <patrice.elias@gmail.com>
To: @ViewBag.To
@if(ViewBag.CC != "") { Html.Raw("CC: " + ViewBag.CC); }
Subject: @ViewBag.Subject
Content-Type: text/html; charset=utf-8

<html>
    <body>
        @{
            ViewBag.link = "<a href='" + Url.Action("Details/" + ViewBag.id, "Knowledgebase")
                +"'>" + Url.Action("Details/" + ViewBag.id, "Knowledgebase") + "</a>";
        }
        @if (ViewBag.type == "Submitted")
        {
            <p>Hi Knowledgebase Approvers,</p>
            <p>A new Knowledgebase article <strong>@ViewBag.title</strong> has been submitted for your consideration.</p>
            <p>You can access this article at @Html.Raw(ViewBag.link)</p>
        }
        else if (ViewBag.type == "Approved")
        {
            <p>Hi @ViewBag.user,</p>
            <p>Your Knowledgebase article <strong>@ViewBag.articleTitle</strong> has been approved!</p>
            <p>You can access this article at @Html.Raw(ViewBag.link)</p>
        }
        <p><b>System Message</b></p>
    </body>
</html>