@using System.Collections.Generic;
@using System.Web.Mvc;
@model Help_Desk_2.Models.EmailMessageModels.SubscriptionsEmail

From: @Model.From
To: @Model.To
Subject: @Model.Subject
Content-Type: text/html; charset=utf-8

<html>
    <body>
        <p>Hi @Model.UserName,</p>
        <p>Here is the latest feed from your @Model.Type subscriptions</p>
        <p></p>
        
            
            
            @foreach (var item in Model.Subscribtions)
            {
                string link = string.Format("{0}/{1}/Details/{2}", Model.BaseURL, Model.Type, item.FaqId);
                <p>
                    <a href="@link">
                        @item.FaqHeader
                    </a><br/>
                    <span style="color: #ccc; font-size:90%">@item.Date.ToShortDateString() / Author: @item.OriginatorName</span>
                </p>                
            }
        
                 
        <p></p>
        <p><b>System Message</b></p>
    </body>
</html>