@model Help_Desk_2.Models.KnowledgeFAQ

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KnowledgeFAQ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.loginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.loginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateComposed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateComposed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.headerText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.headerText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.links)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.links)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
