@using Help_Desk_2.Utilities
@using Help_Desk_2.DataAccessLayer
@using Postal

@{
    ViewBag.Title = "Home Page";
    AllSorts.setNavProperties(ViewBag); //This is a single item page 
                                        /* dynamic email = new Email("KB");
                                        email.To = EmailAddresses.DeveloperEmail;
                                        /*email.CC = "patrice@aloehealthsecrets.com";* /
                                        email.Subject = "New Knowledgebase article submitted";
                                        email.type = "Approved";
                                        email.user = "Chenjerai Hunzvi";
                                        email.articleTitle = "Hameno";
                                        email.id = "45";
                                        email.Send();*/
}
<div class="content home">
    <div class="col-sm-12" style="border: 1px solid #ddd">
    <h3>News</h3>
        <ul class="list-unstyled">

            @foreach (var item in ViewBag.news)
            {
                <li class="panel panel-default">
                    <a class="article-title" onclick="$(location).attr('href', '@Url.Action("Article", "News", new { @id = item.ID })')">
                        @item.title
                    </a>
                    <p class="text-muted">@item.publishedDate / Author: @item.Originator.displayName</p>
                </li>
            }
        </ul>
</div>

<div class="col-sm-12" style="border: 1px solid #ddd; margin: 15px 0">
    <h3>Latest FAQs</h3>
    <ul class="list-unstyled">
    @foreach (var item in ViewBag.faqs)
    {
        <li class="panel panel-default">
            <a class="article-title" onclick="$(location).attr('href', '@Url.Action("Details", "FAQs", new { @id = item.ID })')">
                @item.headerText
            </a>
         
            <p class="text-muted">@item.dateComposed / Author: @item.Originator.displayName</p>
        </li>
    }
    </ul>
</div>

    

    <div class="col-sm-12" style="border: 1px solid #ddd;">
        <h3>My Subscriptions</h3>
        
        <table class="table table-bordered table-hover table-condensed table-view table-faqsubs">
            <thead>
                <tr><th colspan="2">FAQs</th></tr>
                <tr><th>Keywords</th><th>Expert Areas</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @*If any keywrds exist show here as list*@
                        @if (ViewBag.faqsubskw == null)
                        {
                            <em>No keywords subscriptions yet</em>
                        }
                        else
                        {
                            <ul class="subs faqs keywords">
                                @foreach (var sub in ViewBag.faqsubskw)
                                {
                                    <li>@sub</li>
                                }
                            </ul>
                        }
                    </td>
                    <td>
                        @*If any expertareas exist show here as list*@
                        @if (ViewBag.faqsubsea == null)
                        {
                            <em>No expert area subscriptions yet</em>
                        }
                        else
                        {
                            <ul class="subs faqs expertareas">
                                @foreach (var sub in ViewBag.faqsubsea)
                                {
                                    <li>@sub</li>
                                }
                            </ul>
                        }
                    </td>
                </tr>
            </tbody>
        </table>

        @if (AllSorts.UserCan("SuperFunctions"))
        {
        <table class="table table-bordered table-hover table-condensed table-view table-kbsubs">
            <thead>
                <tr><th colspan="2">Knowledgebase</th></tr>
                <tr><th>Keywords</th><th>Expert Areas</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @*If any keywrds exist show here as list*@
                        @if (ViewBag.kbsubskw == null)
                        {
                            <em>No keywords subscriptions yet</em>
                        }
                        else
                        {
                            <ul class="subs kb keywords">
                                @foreach (var sub in ViewBag.kbsubskw)
                                {
                                    <li>@sub</li>
                                }
                            </ul>
                        }
                    </td>
                    <td>
                        @*If any expertareas exist show here as list*@
                        @if (ViewBag.kbsubsea == null)
                        {
                            <em>No expert area subscriptions yet</em>
                        }
                        else
                        {
                        <ul class="subs kb expertareas">
                            @foreach (var sub in ViewBag.kbsubsea)
                            {
                                <li>@sub</li>
                            }
                        </ul>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        }
    </div>

    @*<div class="col-sm-12" style="border: 1px solid #ddd; margin: 15px 0">
        <h3>UserGroups</h3>
        <ul class="list-unstyled">
            @foreach (var item in ViewBag.userGroups)
            {
                <li class="panel panel-default">
                    <p class="text-muted">@item</p>
                </li>
            }
        </ul>
    </div>*@
</div>
