@model IEnumerable<Help_Desk_2.Models.UserProfile>

@{
    ViewBag.Title = "User Profile List";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
                
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="$(location).attr('href', '@Url.Action("Details", "UserProfile", new { @id = item.userID })')">
        
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailAddress)
        </td>
        
       
    </tr>
}

</table>
