@using Help_Desk_2.Utilities
@model Help_Desk_2.Models.UserProfile

@{
    ViewBag.Title = "My Subscriptions";
}

<div class="container"><h2>@ViewBag.Title</h2></div>

<hr class="title" />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.loginName)
        @Html.HiddenFor(model => model.principalName)
        
        <div class="container">
                <div class="panel panel-info">
                    <div class="panel-heading">FAQ Subscriptions</div>
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.faqKeywords, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownList("infaqkeywords", new MultiSelectList(AllSorts.FullWordList.Where(x => x.type == 1), "ID", "Text", Model.faqKeywords.Select(x => x.ID)), new { @class = "select2-editor", multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.faqKeyWords, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.faqExpertAreas, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownList("infaqexpertareas", new MultiSelectList(AllSorts.FullWordList.Where(x => x.type == 2), "ID", "Text", Model.faqExpertAreas.Select(x => x.ID)), new { @class = "select2-editor", multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.faqExpertAreas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="btn-group btn-group-custom">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
