@using Help_Desk_2.Utilities
@model Help_Desk_2.Models.UserProfile

@{
    ViewBag.Title = "My Subscriptions";
    ViewBag.addAttachCode = "1"; //Activate attach code 
}

@section cssCustomTop {
    @Styles.Render("~/Content/Select2/css/select2.min.css")
    @Styles.Render("~/Content/Select2/css/select2-bootstrap.min.css")
}

@section scriptsCustom {
    <script src="~/Content/Select2/js/select2.min.js"></script>
}
<div class="container"><h2>@ViewBag.Title</h2></div>

<hr class="title" />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.userID)
        @Html.HiddenFor(model => model.loginName)
        @Html.HiddenFor(model => model.principalName)
        
        <div class="container">
            <div class="panel panel-info">
                <div class="panel-heading">FAQ Subscriptions</div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.faqKeywords, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownList("infaqkeywords", new MultiSelectList(AllSorts.FullWordList.Where(x => x.type == 1), "ID", "Text", Model.faqKeywords.Select(x => x.ID)), new { @class = "select2-editor", multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.faqKeywords, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        @Html.LabelFor(model => model.faqExpertAreas, htmlAttributes: new { @class = "control-label" })
                        <div>
                            @Html.DropDownList("infaqexpertareas", new MultiSelectList(AllSorts.FullWordList.Where(x => x.type == 2), "ID", "Text", Model.faqExpertAreas.Select(x => x.ID)), new { @class = "select2-editor", multiple = "multiple" })
                            @Html.ValidationMessageFor(model => model.faqExpertAreas, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            
            @if (AllSorts.UserCan("SuperFunctions")) {
                <div class="panel panel-info">
                    <div class="panel-heading">Knowledge Base Subscriptions</div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.kbKeywords, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.DropDownList("inkbkeywords", new MultiSelectList(AllSorts.keywords, "ID", "Text", Model.kbKeywords.Select(x => x.ID)), new { @class = "select2-editor", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.kbKeywords, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            @Html.LabelFor(model => model.kbExpertAreas, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.DropDownList("inkbexpertareas", new MultiSelectList(AllSorts.expertareas, "ID", "Text", Model.kbExpertAreas.Select(x => x.ID)), new { @class = "select2-editor", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.kbExpertAreas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @Html.Hidden("kbKeywords", "")
                @Html.Hidden("kbExpertAreas", "")
            }
            <div>
                <div class="btn-group btn-group-custom">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
