@model IEnumerable<Help_Desk_2.Models.News>

@{
    ViewBag.Title = "Latest News";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sticky)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.published)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sticky)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.publishedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
