@using Help_Desk_2.Models
@model IPagedList<News>

@{
    ViewBag.Title = "Latest News";
}

<header>
    <h2 class="title">@ViewBag.Title</h2>
</header>
<div class="container-view news">
    
    @foreach (var item in Model)
        {
        <div class="panel panel-default">
            <a class="article-title" onclick="$(location).attr('href', '@Url.Action("Article", "News", new { @id = item.ID })')">
                @Html.DisplayFor(modelItem => item.title)                    
            </a>
            @*<div class="article-body">
    @Html.Raw(item.body)
</div>*@
            <p class="text-muted">@Html.DisplayFor(modelItem => item.publishedDate) / Author: @Html.DisplayFor(modelItem => item.UserProfile.displayName)</p>

                
        </div>
    }

    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)

    </div>

</div>
