@model IEnumerable<Help_Desk_2.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Responsible.loginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Originator.loginName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ticketID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateComposed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.headerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.links)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateL1Release)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateL2Release)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adminComments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sanityCheck)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.report)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Responsible.loginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Originator.loginName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ticketID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateComposed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.headerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.links)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateSubmitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateL1Release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateL2Release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adminComments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sanityCheck)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.report)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
